@{
    ViewData["Title"]= "Agendamento feito";
}
<h1>Agendamento realizado com sucesso!</h1>
<p><a asp-action="Agendamento">Agendar mais consultas</a></p>
<p><a asp-action="Lista">Ver consultas agendados</a></p>