@{
    ViewData["Title"] = "Home";
}

<h1>Bem-vindo ao PetFranz, o melhor lugar para o seu animal de estimação!</h1>
<div class="principalfoto">
<img src="https://media.discordapp.net/attachments/875917030212128788/971841114887848017/Sem_Titulo-1.jpg" height="390">
</div>
<br>
<p>Na PetFranz temos os melhores serviços e produtos com melhores praços do mercado!</p>


<br>

<h2>Na sua primeira compra garanta de um saco de ração garanta 10% de desconto!</h2>
<h3>Outros produtos:</h3>

<div>
    <img src="https://media.discordapp.net/attachments/790715409019961345/971842754143477780/unknown.png?width=468&height=468" height="100x100">
    <img src="https://media.discordapp.net/attachments/790715409019961345/971843091629756536/unknown.png?width=339&height=468" height="100x100">
    <img src="https://cdn.discordapp.com/attachments/790715409019961345/971843617981358160/unknown.png" height="100x100">
</div>

<div>
    <img src="https://images.tcdn.com.br/img/img_prod/496822/carbovet_c_20_comprimidos_11683_1_20190612205834.png" alt="">
</div>