@{
    ViewData["Title"]= "Serviços";
}

<h3>Nossos serviços:</h3>

<li>Vacinação em filhotes</li>
<li>Assinando o plano de vacinação você garantirá as vacinas de melhor qualidade para o seu mascote!</li>
<li>R$1200,00 + Carteira de vacinação</li>
<br>

<li>Serviço 2</li>
<li>Banho e tosa</li>
<li>R$90,00 - Pode variar de acordo com o tamanho do mascote.</li>
<br>

<li>Serviço 3</li>
<li>Passeio com o mascote + momento de diversão.</li>
<li>R$110,00</li>
<br>